# Dependency directories
node_modules/
/jspm_packages/
/web_modules/
packages/**/node_modules/*
apps/**/node_modules/*

# Production / Build outputs
dist/
build/
.next/
out/
.docusaurus/
.serverless/
bin-prod/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
*.log

# Editor & OS Metadata
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Runtime & Local Environments
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env*.local

# Core AAM Local Testing files (Ignore during actual package distribution, keep local developer testing clean)
architecture-test/
